.card.chat-room .members-panel-1,
.card.chat-room .chat-1 {
position: relative;
overflow-y: scroll; }

.card.chat-room .members-panel-1 {
height: 570px; }

.card.chat-room .chat-1 {
height: 495px; }

.card.chat-room .friend-list li {
border-bottom: 1px solid #e0e0e0; }
.card.chat-room .friend-list li:last-of-type {
border-bottom: none; }

.scrollbar-light-blue::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-light-blue::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-light-blue::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #82B1FF; }

.rare-wind-gradient {
background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
background-image: -webkit-linear-gradient(bottom, #a8edea 0%, #fed6e3 100%);
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); }


.chat-user{background-color: #e2e5f9; max-width:65%; width: auto; min-width: 22%; float: left; clear: both; padding: 1rem; border-radius: 10px 0px 10px 10px;}
.chat-client{background-color: #e2f9ed; max-width:65%; width: auto; min-width: 22%; float: right; clear: both; padding: 1rem; border-radius: 0px 10px 10px 10px;}
.custom-avatar {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
    height: 50px;
}
 .custom-hr{margin:0 0 0.5rem;}
 b, strong {
    font-weight: bold;
    font-style: italic;
}
.custom-textarea {
    padding-top: 10px;
    box-shadow: 0px 0px 5px silver;
    background: #fefefe;
}
.custom-btn-chat {
    margin: 0 10px 10px 0px;
}

